Repository liquibase/setup-liquibase, pull requests merged in 2025-07, with the labels that each got.

#41 Remove license key requirement during Pro edition installation
  .github/workflows/uat-test.yml
  CLAUDE.md
  README.md
  UAT_TESTING.md
  __tests__/integration/error-handling.test.ts
  __tests__/unit/installer.test.ts
  action.yml
  dist/index.js
  dist/index.js.map
  dist/installer.d.ts
  dist/installer.d.ts.map
  examples/pro-usage.yml
  src/index.ts
  src/installer.ts
Labels: documentation, test, build, ci

#45 fix: Resolve LIQUIBASE_LOG_FILE validation failures by creating directories
  .github/workflows/test.yml
  __tests__/integration/path-transformation.test.ts
  __tests__/unit/installer.test.ts
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  examples/basic-usage.yml
  examples/pro-usage.yml
  src/index.ts
  src/installer.ts
Labels: ci, test, build, bug, documentation

#47 feat: Enhanced logging and UAT feedback
  .github/workflows/uat-test.yml
  CHANGELOG.md
  README.md
  UAT_TESTING.md
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/installer.d.ts.map
  docs/PATH_HANDLING.md
  examples/migration-from-docker.yml
  src/index.ts
  src/installer.ts
Labels: ci, test, build, documentation, feature

#56 feat: Remove cache functionality and implement code optimizations
  .github/workflows/cache-benchmark.yml
  .github/workflows/test.yml
  .github/workflows/uat-test.yml
  CACHE_REMOVAL_PLAN.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  UAT_TESTING.md
  __tests__/fixtures/shared-installation.ts
  __tests__/integration/error-handling.test.ts
  __tests__/integration/path-transformation.test.ts
  __tests__/integration/real-world.test.ts
  __tests__/unit/installer.test.ts
  __tests__/unit/version-resolver.test.ts
  action.yml
  dist/config.d.ts
  dist/config.d.ts.map
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/installer.d.ts
  dist/installer.d.ts.map
  docs/PATH_HANDLING.md
  eslint.config.js
  examples/basic-usage.yml
  examples/migration-from-docker.yml
  examples/pro-usage.yml
  src/config.ts
  src/index.ts
  src/installer.ts
  src/version-resolver.ts
Labels: ci, test, build, documentation, feature, dependencies

#58 refactor: Move isValidEdition function to module level for better performance
  __tests__/integration/error-handling.test.ts
  __tests__/integration/path-transformation.test.ts
  __tests__/integration/real-world.test.ts
  __tests__/unit/installer.test.ts
  dist/index.js
  dist/index.js.map
  package.json
  src/index.ts
Labels: test, build, dependencies

#43 DAT-20361 GitHub Secrets Migration
  .github/workflows/release-drafter.yml
  .github/workflows/uat-test.yml
Labels: skipReleaseNotes, sdou, ci, test

#61 docs: Add enterprise vault integration and improve Pro license guidance
  README.md
  examples/aws-secrets-manager.yml
Labels: documentation
